$colors: (
    alpha: #FFFFFF,
    bravo: #000000,
    charlie: #363636,
    delta: whitesmoke,
    echo: rgba(10, 10, 10, 0.2),
    foxtrot: #dbdbdb,
    golf: #26B99A,
    hotel: #337ab7,
    india: #3e8985,
);

@function color($key) {
    @return map-get($colors, $key);
}
