$colors: (
    alpha: #FFFFFF,
    bravo: #000000,
    charlie: #37474F,
    delta: whitesmoke,
    echo: rgba(10, 10, 10, 0.2),
    foxtrot: #dbdbdb,
    golf: #00BF9A,
    hotel: #4DB6AC,
    india: #009688,
    juliet: #0277BD,
    kilo: #F44336,
);

@function color($key) {
    @return map-get($colors, $key);
}
