$heading-selectors: (h1, h2, h3, h4, h5, h6);

$heading-sizes: (
    h1: (
        min: 48,
        max: 96,
    ),
    h2: (
        min: 42,
        max: 80,
    ),
    h3: (
        min: 32,
        max: 64,
    ),
    h4: (
        min: 24,
        max: 48,
    ),
    h5: (
        min: 20,
        max: 32,
    ),
    h6: (
        min: 16,
        max: 16,
    ),
);

@each $heading, $sizes in $heading-sizes {
    #{$heading} {
        @include fluid-property(font-size, map-get($sizes, min), map-get($sizes, max), $end: 1200);
    }
}
