$heading-selectors: (h1, h2, h3, h4, h5, h6);

$heading-sizes: (
    h1: (
        min: 28,
        max: 50,
    ),
    h2: (
        min: 26,
        max: 45,
    ),
    h3: (
        min: 22,
        max: 42,
    ),
    h4: (
        min: 18,
        max: 38,
    ),
    h5: (
        min: 16,
        max: 32,
    ),
    h6: (
        min: 14,
        max: 16,
    ),
);

@each $heading, $sizes in $heading-sizes {
    #{$heading} {
        @include fluid-property(font-size, map-get($sizes, min), map-get($sizes, max), $end: 1200);
        font-family: font(alpha);
    }
}
