.Navigation {
	margin-left: -1.25rem;
	margin-right: -1.25rem;
}

.Navigation__list {
	@include clear-box-model;
	list-style: none;
}

.Navigation__list-item {
	@include transition;
	
	padding: 0 1.25rem;

	&:hover,
	&--active {
		box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
		background: linear-gradient(color(india), color(india)), color(charlie);
		
		@include viewport-min('md') {
			border-right: 5px solid color(alpha);
		}
	}
}

.Navigation__list-link {

	display: block;
	text-align: center;
	padding: 0.5rem 0.625rem;
	text-decoration: none;
	font-size: 0.625rem;

	&:hover,
	&:active,
	&:visited {
		color: color(alpha);
	}
	@include viewport-min('md') {
		font-size: 1rem;
		text-align: left;
		padding: 0.5rem 0;
	}
}

.Navigation__list-icon {
	display: block;
	width: 100%;
	min-width: 1.875rem;
	max-width: 1.875rem;
	margin: 0 auto;
	text-align: center;
	font-size: 2rem;

	@include viewport-min('md') {
		display: inline-block;
		float: left;
		width: auto;
		margin-right: 0.5rem;
		font-size: 1.25rem;
	}
}