.NavigationToggle {
	@include ripple-click;
	
	display: none;
	@media only screen and (max-width: 768px) {
		@include transition;
		display: inline-block;
		background: transparent;
		outline: none;
		border: none;
		width: 2.5rem;
		height: 1.875rem;
		position: relative;
		transform: rotate(0deg);
		cursor: pointer;

		&--open .NavigationToggle__burger:nth-child(1) {
			transform: rotate(135deg);
			top: 0.75rem;
		}
		
		&--open .NavigationToggle__burger:nth-child(2) {
			opacity: 0;
			right: -60px;
		}
		
		&--open .NavigationToggle__burger:nth-child(3) {
			top: 0.75rem;
			transform: rotate(-135deg);
		}
	}
}

.NavigationToggle__burger {
	@media only screen and (max-width: 768px) {
		@include transition;

		display: block;
		position: absolute;
		height: 0.375rem;
		width: 100%;
		background-color: color(delta);
		opacity: 1;
		transform: rotate(0deg);

		&:nth-child(1) {
			top: 0;
		}
		
		&:nth-child(2) {
			top: 0.75rem;
		}

		&:nth-child(3) {
			top: 1.5rem;
		}
	}
}
