.Button {
    @include button-reset;
    @include transition;
    @include ripple-hover;
    
    font-size: 0.875rem;
    display: inline-block;
    padding: 0.25rem 1.25rem;    
    background-color: color(hotel);
    color: color(alpha);
    border: 1px solid rgba(color(hotel), 0.8);

    &:disabled {
        cursor: normal;
        opacity: 0.6;
        &:hover {
            transform: none;
            background-color: color(hotel);
        }
    }
}

.Button--text-link {
    padding: 0;
    color: color(hotel);
    background-color: transparent;
    border: none;

    &:after {
        display: none;
    }
    
    &:hover,
    &:focus,
    &:active {
        background-color: transparent;  
    }
}

@each $key, $color in $colors {
    .Button--#{$key} {
        background-color: $color;
        border: 1px solid rgba($color, 0.8);

        &:hover,
        &:focus,
        &:active {
        }
    }
}

.Button--alpha,
.Button--delta,
.Button--foxtrot {
    color: color(charlie);
}