.Button {
    @include button-reset;
    @include transition;

    text-decoration: none;
    font-size: 0.875rem;
    display: inline-block;
    padding: 0.25rem 1.25rem;    
    background-color: color(hotel);
    color: color(alpha);
    border: 1px solid rgba(color(hotel), 0.8);

    &:disabled {
        cursor: normal;
        opacity: 0.6;
        &:hover {
            transform: none;
            background-color: color(hotel);
        }
    }

    & + & {
        margin-left: 0.25rem;
    }
}

a.Button {
	text-decoration: none;
	&:hover {
		color: inherit;
	}
}

.Button--ripple-hover {
    @include ripple-hover;
}

.Button--ripple-click {
    @include ripple-click;
}

.Button--text-link {
    padding: 0;
    color: color(golf);
    background-color: transparent;
    border: none;

    &:after {
        display: none;
    }
    
    &:hover,
    &:focus,
    &:active {
        background-color: transparent;  
    }
}

@each $key, $color in $colors {
    .Button--#{$key} {
        background-color: $color;
        border: 1px solid rgba($color, 0.8);

        &:hover,
        &:focus,
        &:active {
        }
    }
}

.Button--alpha,
.Button--delta,
.Button--foxtrot {
    color: color(charlie);
}

.Button--round {
    @include transition; 
    flex-shrink: 0;
    flex-grow: 0;

    cursor: pointer;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 50%;
    width: 1.75rem;
    height: 1.75rem;
    color: color(alpha);
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    
    &:hover {
        transform: perspective(1px) scale(1.05);
    }
    & i {
        margin: 0 auto;
        display: block;
    }
}