.Button {
    @include button-reset;
    @include transition;
    
    position: relative;
    font-size: 0.875rem;
    display: inline-block;
    padding: 0.25rem 1.25rem;    
    background-color: color(hotel);
    color: color(alpha);
    border: 1px solid rgba(color(hotel), 0.8);

    &:disabled {
        cursor: normal;
        opacity: 0.6;
        &:hover {
            transform: none;
            background-color: color(hotel);
        }
    }

    &:hover:after {
        animation: ripple 1s ease-out;
    }

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0.5rem;
        height: 0.5rem;
        background: rgba(255, 255, 255, .3);
        opacity: 0;
        border-radius: 100%;
        transform: scale(1) translate(-50%);
        transform-origin: 50% 50%;
    }
}

.Button--text-link {
    padding: 0;
    color: color(hotel);
    background-color: transparent;
    border: none;
    
    &:hover,
    &:focus,
    &:active {
        background-color: transparent;  
    }
}

@each $key, $color in $colors {
    .Button--#{$key} {
        background-color: $color;
        border: 1px solid rgba($color, 0.8);

        &:hover,
        &:focus,
        &:active {
        }
    }
}

.Button--alpha,
.Button--delta,
.Button--foxtrot {
    color: color(charlie);
}