.Flash {
	display: block;
	position: fixed;
	top: 0.625rem;
	right: 0.625rem;
	min-width: 10rem;
	z-index: z-index(flash);
}

.Flash__message {
	background-color: color(india);
	color: color(alpha);
	padding: 1rem;
	margin-bottom: 0.5rem;
}

.Flash__message--error {
	background-color: color(kilo);
}