.Icon {
	display: inline-block;
}

$icon_sizes: (
	small: 1rem,
	medium: 2rem,
	large: 3rem,
);

@each $key, $value in $icon_sizes {
	.Icon--#{$key} {
		max-width: $value;
		max-height: $value;
		width: 100%;
		height: auto;
	}
}

.Icon--times {
	width: 0.75rem;
	height: 1rem;
}