.Loader {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.8);
		z-index: z-index(loader);
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
}

.Loader__icon {
		width: 3.75rem;
		height: 3.75rem;
		margin: 0 auto;
}

.Loader__icon .Loader__square {
		width: 33%;
		height: 33%;
		background-color: color(hotel);
		float: left;
		animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.Loader__icon .Loader__square1 {
		animation-delay: 0.2s;
}
.Loader__icon .Loader__square2 {
		animation-delay: 0.3s;
}
.Loader__icon .Loader__square3 {
		animation-delay: 0.4s;
}
.Loader__icon .Loader__square4 {
		animation-delay: 0.1s;
}
.Loader__icon .Loader__square5 {
		animation-delay: 0.2s;
}
.Loader__icon .Loader__square6 {
		animation-delay: 0.3s;
}
.Loader__icon .Loader__square7 {
		animation-delay: 0s;
}
.Loader__icon .Loader__square8 {
		animation-delay: 0.1s;
}
.Loader__icon .Loader__square9 {
		animation-delay: 0.2s;
}