.Masonry {
	position: relative;
	column-count: 1;
	z-index: z-index(masonry);	
	@include viewport-min('lg') {
		column-count: 2;
	}

	@include viewport-min('xl') {
		column-count: 3;
	}
}

.Masonry__panel {
    break-inside: avoid;
    margin-bottom: 1rem;
	
	& > * {
		/* Fix for elements with box shadows */
		display: inline-block;
		margin: 0.1875rem 0;
		width: 100%;
	}
}