.Modal {
	position: absolute;
}

.Modal__overlay {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(10, 10, 10, 0.86);
	z-index: z-index(modal-overlay);
}

.Modal__container {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	text-align: left;
	z-index: z-index(modal-content);
}

.Modal__content {
    position: relative;
    display: flex;
    flex-direction: column;
	margin: 0 20px;
    max-height: calc(100vh - 160px);
    overflow: hidden;
	width: 100%;

	@include viewport-min('md') {
		width: 640px;
	}
}

.Modal__header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: color(delta);
	padding: 0.875rem 1.25rem;
	border-bottom: 1px solid color(foxtrot);
}

.Modal__title {
	margin: 0;
	padding: 0;
	color: color(charlie);
}

.Modal__close {
	@include transition;

	flex-shrink: 0;
	flex-grow: 0;

	cursor: pointer;
	text-align: center;
	background-color: color(echo);
	outline: none;
	border: none;
	border-radius: 50%;
	width: 1.75rem;
	height: 1.75rem;
	color: color(alpha);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0;
	
	&:hover {
		background-color: color(charlie);
		transform: perspective(1px) scale(1.1);
	}
	& i {
		margin: 0 auto;
		display: block;
	}
}

.Modal__body {
	position: relative;
	background-color: color(alpha);
	padding: 1.25rem;
	overflow: auto;
	z-index: z-index(modal-overlay);
	color: color(charlie);
}

.Modal__footer {
	background-color: color(delta);
	border-top: 1px solid color(foxtrot);
	padding: 0.875rem 1.25rem;
	color: color(charlie);
	
	& p {
		margin: 0;
		padding: 0;
	}
}