.Tooltip {
    position: relative;
    display: inline-block;
}

.Tooltip__text {
	min-width: 20rem;
    visibility: hidden;
	background-color: color(golf);
	color: color(alpha);
	border: 1px solid color(golf);
    text-align: center;
    padding: 0.25rem 0;
    position: absolute;
    z-index: z-index(tooltip);
}

.Tooltip:hover .Tooltip__text {
	visibility: visible;
}