.Tooltip {
    position: relative;
    display: inline-block;
}

.Tooltip__text {
	background-color: color(hotel);
	color: color(alpha);
    border: 1px solid color(hotel);
    padding: 0.15rem 1.25rem;
    z-index: z-index(tooltip);
}