.Header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 2.5rem;
	
	color: color(alpha);
	background-color: color(charlie);
	line-height: 2.5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	z-index: z-index(header);
}