.Header {
	color: color(alpha);
	background-color: color(charlie);
	line-height: 2.5rem;
	padding: 0 1.25rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}