.Main {
	display: flex;
	flex-direction: row;
	min-height: 100%;
	margin-top: 2.5rem;
}

.Main--full {
	margin-top: 0;
	height: 100vh;
	max-height: 100vh;
	justify-content: center;
	align-items: center;
}