.Sidebar {
	@include transition;
	
	font-family: font(bravo);
	flex: 1;
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
	background-color: color(charlie);
	color: color(alpha);
	width: 100%;
	max-width: 4.375rem;

	@include viewport-min('md') {
		max-width: 20rem;
		padding: 1.25rem;
		margin-left: 0;
	}
}

.Sidebar.animated .Sidebar__container {
	top: 0;
}

.Sidebar__container {
	position: fixed;
	top: 2.5rem;
	left: 0;
	width: 4.375rem;
	overflow: hidden;
	@include viewport-min('md') {
		top: 3.7rem;
		left: 1.25rem;
		width: 17.5rem;
		overflow: visible;
	}
}

.Sidebar__footer {
	
}