html {
	height: 100%;
}

*,
*::after,
*::before {
	box-sizing:border-box;
}
*::-webkit-scrollbar-track {
	background-color: color(delta);
}

*::-webkit-scrollbar {
	background-color: color(delta);
}

*::-webkit-scrollbar-thumb {
	background-color: darken(color(foxtrot), 10%);
}

a,
a:hover,
a:active,
a:visited {
	text-decoration: none;
	color: inherit;
}

a {
	@include transition($time: 100ms);
	text-decoration: underline;

	&:hover {
		color: color(india);
	}
}
